$font-name: 'Montserrat';
$primary: #070d59;

.content-header {
  color: $primary;
  letter-spacing: 0.5px;
  font-weight: bold;
  font: {
    family: $font-name;
    size: 20px;
  }
  text: {
    transform: uppercase;
  }
}

.separator {
  border: 2px solid $primary;
  margin: -10px 0 20px 0;
}
